nav{
    display: flex;
}

a {
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 75px;

    color: green;
    background-color: yellow;
    border: green 2px solid;
    width: 130px;
    height: 75px;
    margin: 0;
    margin-right: -2px;
    font-size: 27px;
}




.task1 img {
    width: 600px;
    display: block;
}

.task1 img:nth-child(1){
    transform: scale(0.5);
}

.task1 img:nth-child(2){
    transform: rotate(45deg);
}

.task1 img:nth-child(3){
    transform: translate(50px, 0px);
}

.task1 img:nth-child(4):hover{
    rotate: -20deg;
}

button{
    height: 64px;
    width: 200px;
    margin-right: 60px;
    font-size: 18px;
    background-color: none;
    border: none;
}

button:nth-child(1):hover{
    background-color: black;
    color: white;
}

button:nth-child(2):hover{
    border: solid 8px red;
    outline: solid 8px yellow;
    background-color: white;
}

button:nth-child(3):hover{
    background-color: white;
    border-top: solid 8px green;
    border-bottom: solid 8px green;
}

button:nth-child(4):hover{
    background-color: white;
    border-right: solid 8px blue;
    border-left: solid 8px blue;
}

button:nth-child(5):hover{
    background-image: radial-gradient(ellipse 
    50% 80% at center,
     yellow, magenta, aqua);
    font-weight:bolder;
}

.task3{
    perspective: 1000px;
    transform-style: preserve-3d;
    perspective-origin: center;
}

.task3 img {
    width: 450px;
    margin-right: 30px;
}

.task3:nth-child(2) img{
    transform: rotateY(45deg);
}

.task3:nth-child(4) img{
    transform: rotateY(-45deg);
}

.task3:nth-child(odd) img{
    transform: rotateX(45deg);
}

@keyframes task4_animation_imgs1{
    0%{transform: rotateY(45deg);}
    50%{transform: rotateY(0deg);}
    100%{transform: rotateY(0deg);}
}

@keyframes task4_animation_imgs2{
    0%{transform: rotateY(45deg) translate(50px);}
    50%{transform: rotateY(0deg) translate(50px);}
    100%{transform: rotateY(0deg) translate(550px);
    filter: blur(10px);}
}
@keyframes task4_animation_imgs3{
    0%{transform: rotateY(45deg) translate(100px);}
    50%{transform: rotateY(0deg) translate(100px);}
    100%{transform: rotateY(0deg) translate(1100px);
    filter: grayscale(1);}
}
@keyframes task4_animation_imgs4{
    0%{transform: rotateY(45deg) translate(150px);}
    50%{transform: rotateY(0deg) translate(150px);}
    100%{transform: rotateY(0deg) translate(1650px);
    filter: invert(1);}
}

.task4{
    perspective: 1000px;
    transform-style: preserve-3d;
    perspective-origin: center;
}

.task4 img {
    width: 500px;
    position: absolute;
}

.task4:nth-child(1) img{
    animation: task4_animation_imgs1 3s linear infinite;
}

.task4:nth-child(2) img{
    animation: task4_animation_imgs2 3s linear infinite;
}

.task4:nth-child(3) img{
    transform: translate(100px);
    animation: task4_animation_imgs3 3s linear infinite;
}

.task4:nth-child(4) img{
    transform: translate(150px);
    animation: task4_animation_imgs4 3s linear infinite;
}

@keyframes HEADER_OPACITY {
    0%, 100%{opacity: 0%;}
    50%{opacity: 80%;}
}

#task8 + h1{
    animation: HEADER_OPACITY 0.5s linear infinite;
}

.images {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border: 8px red solid;
    position: relative;
    overflow: hidden;
    display: flex;
}

.images img{
    animation: slide 5s linear infinite;
    width: 600px;
    height: auto;
}

@keyframes slide{
    0%{transform: translateX(0);}
    100%{transform: translateX(-2400px);}
}

.task6 img{
    width: 700px;
    display: block;
    margin-bottom: 20px;
}

.task6 img:nth-child(1){
    animation: task6img1 1s linear infinite;
}

@keyframes task6img1 {
    0%{transform: translateX(0);}
    100%{transform: translate(200px);}
}

.task6 img:nth-child(2){
    animation: task6img2 5s linear infinite;
    height: 700px;
}

@keyframes task6img2{
    0%{transform: translateX(0); border-radius: 0px;}
    100%{transform: translateX(calc(100vw - 700px)); border-radius: 350px;}
}

.task6 img:nth-child(3){
    animation: task6img3 5s linear infinite;
}

@keyframes task6img3 {
    0%{transform: translateX(-700px);}
    100%{transform: translateX(100vw);}
}

.task6 img:nth-child(4){
    margin-bottom: 70px;
    animation: task6img4 1s linear infinite;
}

@keyframes task6img4 {
    0%{transform: translateY(0px); }
    100%{transform: translateY(50px);}
}

.task6 img:nth-child(5){
    margin-bottom: 70px;
    animation: task6img5 5s linear infinite;
    position: relative;
}

@keyframes task6img5 {
    0%   {left: 0; top: 0;}
    25%  {left: 500px; top: 0;}
    50%  {left: 500px; top: 500px;}
    75%  {left: 0; top: 500px;}
    100% {left: 0; top: 0;}
}

h1 + p{
    display: block;
    width: 300px;
    height: 300px;
    font-size: 15px;
    text-align: justify;
    color: red;
}

h1 + p:hover{
    color: aqua;
    transition: color 5s linear;
}