%border1{
    border: 2px black solid;
}


@mixin h11($mbn){
    margin: 0;
    display: block;
    height: 6vh;
    line-height: 6vh;
    text-align: center;
    @extend %border1;
    margin-bottom: $mbn;

    font-size: $header_font-size;

}

$border_color_2: rgb(113, 169, 237);
$header_font-size: 45px;

@function font_size($header-size, $calculate, $tupaya_proverka){
    @if ($calculate){
        @return $header-size / 3;
    }
    @else if($tupaya_proverka){
        @return $header-size;
    }
    @else{
        @if ($header-size <= 20px) {
            @return 14px; 
        } @else if ($header-size > 20px and $header-size <= 30px) {
            @return 16px; 
        } @else {
            @return 18px;
        }
    }   
}

*{
    box-sizing: border-box;
}

header{
    background-image: url(../img/img.png);
    background-size: 100% 100%;


    display: flex;
    justify-content: space-between;
    height: 14vh;
    @extend %border1;
    align-items: center;
    margin-bottom: 3vh;

    .logo{
        background-color: white;

        flex: 1;
        @extend %border1;
        border-color: $border_color_2;
        margin-right: 10%;
        height: 10vh;
        margin-left: 3%;

        text-align: center;
        line-height: 10vh;
        font-size: $header_font-size;
    }

    nav{
        flex: 3;
        display: flex;
        justify-content: space-around;

        span{
            background-color: white;
            @extend %border1;
            line-height: 30px;
            height: 30px;
            padding-left: 35px;
            padding-right: 35px;

            font-size: font_size($header_font-size, false, false);
        }
    }
}


.container{
    display: flex;
    justify-content: space-between;
    height: 69vh;
    margin-bottom: 2vh;
    padding-left: 10px;
    padding-right: 10px;

    main{
        flex: 7;
        margin-right: 25px;

        h1{
            @include h11(3vh);
            +section{
                display: flex;
                justify-content: space-between;
                margin-bottom: 3vh;

                article{
                    height: 27vh;
                    width: 30%;

                    @extend %border1;
                    padding: 20px;

                }
            }

            &:nth-of-type(2) + section{
                display: flex;
                justify-content: space-around;
                div{
                    width: 20%;
                    height: 18vh;
                    @extend %border1;
                    display: flex;
                    justify-content: center;

                    background-image: url(../img/img.png);
                    background-size: 100% 100%;
                }
            }
        }
    }

    aside{
        flex: 3;

        form{
            height: 27vh;
            @extend %border1;
            margin-bottom: 1vh;
            padding: 20px;
            font-size: 20px;
            input{
                display: block;
                @extend %border1;
                width: 100%;
                margin-bottom: 10px;
                font-size: 20px;
            }

            div{
                display: flex;
                justify-content: space-between;
                padding-right: 40px;
                padding-left: 40px;
            label{
                display: block;
                height: 70px;
                line-height: 70px;
                width: 20%;
                margin-bottom:10px;
                text-align: right;
            }
            textarea{
                @extend %border1;
                display: inline-block;
                height: 70px;
                width: 70%;
                font-size: 20px;
            }
        }
            button{
                @extend %border1;
                display: block;
                margin: 0 auto;
                height:40px;
                font-size: 30px;
                margin-top:10px;
                width: 220px;
            }
            button:hover{
                background-image: url(../img/img.png);
                background-size: 100% 100%;
                
            }
            
        }

        h1{
            @include h11(1vh);
        }

        section{
            @extend %border1;
            height: 35vh;
            display: block;
            padding: 22px 20px 0px 8px;
            display: flex;
            aside{
                flex: 1;
                div{
                    background-image: url(../img/img.png);
                    background-size: 100% 100%;

                    @extend %border1;
                    height: 13vh;
                    margin-right: 18px;
                    margin-bottom: 5px;
                    &:nth-of-type(2){
                        height: 16vh;
                    }
                }
            }
            article{
                flex: 2;
                p{
                    @extend %border1;
                    margin: 0;
                    display: block;
                    height: 13vh;
                    margin-bottom: 10px;
                    padding: 20px;


                    &:nth-of-type(2){
                        height: 16vh;
                    }
                }
            }
        }
    }
}

footer{
    height: 10vh;
    @extend %border1;
    p{
        line-height: 10vh;
        margin: 0;
        margin-left: 4%;
        font-size: font_size(50px, false, true);
    }
}
