

h1, h2, h3{
    color: purple;
    font-family: Monotype Corsiva;
}


ol{
    font-family: 'Times New Roman', Times, serif;

    &>li:nth-child(1) ul{
        font-size: 18pt;
        color: red;
    }
    &>li:nth-child(2) ul{
        font-size: 20pt;
        color: yellow;
    }
    &>li:nth-child(3) ul{
        font-size: 22pt;
        color: green;
    }
}

svg{
    a{
        text{
            fill: white;
            text-anchor: middle;
            dominant-baseline: middle;
        }
    }
}